<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeepCopy" version="1.0.3" targetFramework="net461" requireReinstallation="true" />
  <package id="IronOcr" version="4.4.0" targetFramework="net461" />
  <package id="IronOcr.Languages.Arabic" version="4.4.4.11" targetFramework="net461" />
  <package id="IronOcr.Languages.ChineseSimplified" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.ChineseTraditional" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Danish" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Finnish" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.French" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.German" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Hebrew" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Italian" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Japanese" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Korean" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Norwegian" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Portuguese" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Russian" version="4.4.4.1" targetFramework="net461" />
  <package id="IronOcr.Languages.Spanish" version="4.4.4.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.AspNetCore.Http.Features" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.AspNetCore.SignalR.Client" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Logging" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Options" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.9" targetFramework="net461" requireReinstallation="true" />
  <package id="MSBuild.NugetContentRestore" version="0.1.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="NuGet.Tessnet2" version="1.1.1" targetFramework="net461" />
  <package id="Ocr" version="4.4.4.11" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.IO.Pipelines" version="4.7.3" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Tesseract" version="3.3.0" targetFramework="net461" />
</packages>